.box {
  background-color: skyblue;
  color: white;
  padding: 10px;
  margin: 10px;
}

.content1{
  display: flex;
}

.content2{
  display: flex;

  /* 縦並び */
  /* flex-direction: row; */
  flex-direction: column;
}

.content3{
  display: flex;
  /* 横右側 */
  /* justify-content: flex-end; */
  justify-content: center;
}

.content4{
  background: gray;
  height:300px;
  display: flex;
  /* align-items: flex-end; */
  align-items: center;
  justify-content: center;
}